@model EMS.Models.Hotel

@{
    ViewData["Title"] = "Create";
}
<div class="row justify-content-between container gap-5 mt-5">

    <div class="col-md-5 mt-4">
            <form asp-controller="Hotels" asp-action="Index" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="form-control" />
                <hr />
                <button type="submit" class="doc_border_btn doc_border_btn_two sec-btn-blue mt-2 btn btn-primary w-100 ">Upload</button>
            </form>
        <h2 class="mt-5 text-success text-center"> Add Hotels By CSV File</h2>

        </div>

        <div class="col-md-5">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            <hr />

                <div class="form-group">
                    <input type="submit" value="Add New Hotel" class="doc_border_btn doc_border_btn_two sec-btn-blue mt-2 btn btn-primary w-100 " />
                </div>
            </form>
        <h2 class="mt-5 text-success text-center"> Add Manually</h2>

    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
