@model EMS.Models.Presenter

@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form id="createForm" asp-controller="Presenter" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-5">
                <label asp-for="Name" class="control-label"></label>
                <input id="UserName" asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <ul id="PresenterName" class="d-none" >
                @foreach (var i in ViewBag.PresenterName)
                {
                    <li>@i.Name</li>
                }
            </ul>
            <div class="form-group mb-5">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" required />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group mb-5">
                <input id="submitButton" type="submit" value="Update" class="doc_border_btn doc_border_btn_two sec-btn-blue mt-2 btn btn-primary w-100 " />
            </div>
        </form>

    </div>

</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            var PresenterNames = document.querySelectorAll('#PresenterName li');
            for (var i = 0; i < PresenterNames.length; i++) {
                console.log("from the array in jq", PresenterNames[i].textContent)
            }
            $('#createForm').on('submit', function (e) {
                var UserName = $('#UserName').val();
                for (var i = 0; i < PresenterNames.length; i++) {
                    console.log("from the array in jq", PresenterNames[i])
                    console.log("from the array in jq", UserName)


                    if (UserName === PresenterNames[i].textContent) {
                        e.preventDefault(); // Prevent form submission
                        $('#UserName').addClass('is-invalid');
                        $('#UserName').after('<div class="invalid-feedback"> Presenter Name already exists</div>');
                        return false;
                    }
                }
                return true
            });
        });
    </script>
}
